@import url("https://fonts.googleapis.com/css?family=Raleway:400,700|Source+Sans+Pro:700");

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    height: 160px;
    background-color: #f0f0f0;
}

#selected {
    color: #333;
}

.container {
    margin: 0 auto;
    max-width: 80%;
}

#site-logo {
    margin: 0 auto;
    width: 150px;
    float: left;
    padding-top: 4%;
    padding-left: 23%;
}

#site-logo img {
    width: 150px;
}

nav {
    width: 20vw;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    padding-top: 6%;
}

nav ul {
    padding-left: -30%;
}

nav ul li {
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}

nav a:hover {
    color: #333;
}

li a {
    text-decoration: none;
    color: #9e9e9e;
}

.social-icons {
    width: 10vw;
    margin-top: -1.5%;
    margin-bottom: 0;
    margin-left: 65vw;
    text-align: center;
}

.social-icons ul li {
    color: #9e9e9e;
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    padding: 0 0.5vw 0 0.5vw;
}

.social-icons a:hover {
    color: #333;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.images {
    width: 250px;
    height: 250px;
}

.images img {
    width: 250px;
    height: auto;
}