@import url("https://fonts.googleapis.com/css?family=Raleway:400,700|Source+Sans+Pro:700");

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

header {
  background: #f0f0f0;
  width: 100%;
  height: 160px;
}

header li {
  font-size: 20px;
}

header li a {
  color: #9e9e9e;
}

header li a:hover {
  color: #333;
}

.container {
  width: 70%;
  margin: 0 auto;
}

#main-menu {
  width: 40%;
}

nav {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
  float: left;
}

nav li {
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
}

a {
  text-decoration: none;
}

.social-icons {
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.social-icons li {
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 20px;
  float: left;
  list-style: none;
}

#icon-pos {
  margin-left: 305px;
}

#selected {
  color: #333;
}

#showcase img {
  width: 80%;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}